/* Nav */
.nav-item {
	padding: 10px;
}
.nav-item .btn {
	background-color: #d4967d;
	color: #ffffff;
	padding: 8px 16px;
	border-radius: 24px;
}
.navbar-toggler:focus {
	box-shadow: 0 0 0 0.1rem;
}

nav.navbar {
	-webkit-box-shadow: 0px 7px 18px 0px rgba(181, 181, 181, 1);
	-moz-box-shadow: 0px 7px 18px 0px rgba(181, 181, 181, 1);
	box-shadow: 0px 7px 18px 0px rgba(181, 181, 181, 1);
}

/* Intro */
.image-overlay {
	/* text-align: end; */
}

.image-overlay img {
	width: 95%;
	min-width: 175px;
}

/* About Me */
.about-me {
	background-color: #d4967d;
	color: #ffffff;
}

.about-me img {
	width: 100%;
	min-width: 150px;
}

/* Services */
.services {
	background-color: #dcd9d0;
	color: #4f5a4f;
}

.services ul li {
	padding: 10px 0;
	font-weight: 500;
}

/* Contact us */
.contact-us .form-group {
	margin: 30px 0;
}
.contact-us label {
	margin-bottom: 10px;
}
.contact-us .form-control {
	border-radius: 0;
}
.contact-us .form-control:focus {
	box-shadow: none;
}
.contact-us .btn {
	background-color: #d4967d;
	color: #ffffff;
	padding: 8px 16px;
	width: 100px;
	border-radius: 24px;
}

@media screen and (max-width: 768px) {
	.about-me .image-container {
		text-align: center;
	}
	.padding-adjust {
		padding: 0;
	}
	.image-overlay img {
		width: 60%;
	}
}

@media screen and (max-width: 1024px) {
	.about-me .image-overlay img {
		width: 90%;
	}
}
